<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <webServices>
            <protocols>
                <add name="HttpPost" />
                <add name="HttpGet" />
                <add name="HttpSoap" />
                <add name="Documentation" />
            </protocols>
        </webServices>
    </system.web>
  <system.webServer>
    <handlers>
      <add name="NLMeetingHandler" path="*.mh" verb="*" type="NLAssistantWebService.CustomHandlers.MeetingHandler,NLAssistantWebService"/>
      <add name="NLParticipantHandler" path="*.ph" verb="*" type="NLAssistantWebService.CustomHandlers.MeetingParticipantRecheckHandler,NLAssistantWebService"/>
    </handlers>
  </system.webServer>
</configuration>
